{%include 'header.html'%}

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>介紹的影片</h1>
            <p>暫定</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>BMI</h1>
            <p>數值計算</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>健身菜單推薦</h1>
            <p>AI 找出適合你的健身菜單組合</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->

  <ul class="nav justify-content-center">
    <class="nav-item">
      <a class="nav-link active" aria-current="page"><h1><span class="badge bg-secondary">製作團隊</span></h1>
      </a>
  </ul>
  
  <br></br>

  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    
    <div class="row">
      <div class="col-lg-3" style="text-align: center;">
        <img class="bd-placeholder-img rounded-circle" src="{{url_for('static', filename='images/ckchang.jpg')}}" width="140" height="140">
        <br></br>
        <h2>張家凱</h2>
        <p>指導老師</p>
        <br></br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3" style="text-align: center;">
        <img class="bd-placeholder-img rounded-circle" src="{{url_for('static', filename='images/yagi.jpg')}}" width="140" height="140">
        <br></br>
        <h2>胡雅治</h2>
        <p>伺服器及程式框架整合</p>
        <br></br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3" style="text-align: center;">
        <img class="bd-placeholder-img rounded-circle" src="{{url_for('static', filename='images/yunhan.jpg')}}" width="140" height="140">
        <br></br>
        <h2>石昀翰</h2>
        <p>網站撰寫</p>
        <br></br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3" style="text-align: center;">
        <img class="bd-placeholder-img rounded-circle" src="{{url_for('static', filename='images/yufan.jpg')}}" width="140" height="140">
        <br></br>
        <h2>楊芬瑜</h2>
        <p>Line Bot 功能 - BMI計算</p>
        <br></br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3" style="text-align: center;">
        <img class="bd-placeholder-img rounded-circle" src="{{url_for('static', filename='images/monshen.jpg')}}" width="140" height="140">
        <br></br>
        <h2>吳孟璇</h2>
        <p>Line Bot 功能 - 飲食推薦</p>
        <br></br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3" style="text-align: center;">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <br></br>
        <h2>曾崇傑</h2>
        <p>Line Bot 功能 - 機器操作</p>
        <br></br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3" style="text-align: center;">
        <img class="bd-placeholder-img rounded-circle" src="{{url_for('static', filename='images/junmin.jpg')}}" width="140" height="140">
        <br></br>
        <h2>彭俊銘</h2>
        <p>Line Bot 功能 - 健身菜單推薦</p>
        <br></br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3" style="text-align: center;">
        <img class="bd-placeholder-img rounded-circle" src="{{url_for('static', filename='images/chia.jpg')}}" width="140" height="140">
        <br></br>
        <h2>黃家姮</h2>
        <p> Line Bot 功能 - 跟我聊天</p>
        <br></br>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->


    <br></br>

    <ul class="nav justify-content-center">
      <class="nav-item">
        <a class="nav-link active" aria-current="page"><h1><span class="badge bg-secondary">Line Bot 功能介紹</span></h1>
        </a>
    </ul>

    <br></br>

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">BMI ｜ <span class="text-muted">數值計算與介紹</span></h2>
        <br>
        <p class="lead">使用者在健身前也許有聽過除了BMI以外的基礎代謝率及每日消耗熱量，體態的變化會因為各種因素而改變，除了身高、體重外，年齡及日常活動量更是判斷的重要依據，而聊天機器人會帶領使用者更明白兩者，且提供從飲食以及體能方面能改善代謝力的說明。</p>
      </div>
      <div class="col-md-5">
        <img src="{{url_for('static', filename='images/bmi.jpg')}}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" >

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">健身器材 ｜ <span class="text-muted">介紹與操作教學</span></h2>
        <br>
        <p class="lead">目的<br>讓使用者清楚了解各項健身器材的使用方法。</p>
        <p class="lead">功能介紹<br>點選器材操作介紹後會跳出一個選單讓使用者選擇想要了解的器材，選擇後將會有此器材詳細的文字說明。</p>      
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{{url_for('static', filename='images/instruction.jpg')}}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" >

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">健身菜單推薦<span class="text-muted"></span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img src="{{url_for('static', filename='images/menu.jpg')}}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" >

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">飲食推薦<span class="text-muted"></span></h2>
        <p class="lead">客製化推薦：除了增肌減脂期的飲食外，在休息期間能有些彈性的選擇，但是對於熱量的管控還是不能太鬆懈！因此設計這一項功能，讓使用者選取該時段想攝取的卡路里量，而聊天機器人會回傳一個在範圍內的隨機餐點，供使用者參考，餐點的推薦內容非常廣泛，從中式到西式，路邊小吃店到異國料理應有盡有。</p>
        <p class="lead">隨機推薦：使用者可以依照當前飽足感，選取想吃的份量，而聊天機器人會從預設的值挑選相對健康、營養的餐點推薦，且都是市面上常見或是易購得的食物，讓使用者不需每日侷限在卡路里的計算，也可以經由方便的服務，讓肚子吃飽飽，身體也強壯健康！</p>
        <p class="lead">健身飲食提醒：在健身的三階段(增肌、減脂、休息)期，有不同食物營養熱量分配，也許剛踏入健身的時候不清楚飲食方面的分配，因此設計這項功能顯示該階段分別的熱量，以及建議的食物來源，最後有適合日常或各階段的提醒總結，讓使用者能以當前狀況進行食物的配置。</p>
        <p class="lead">飲食小問題：針對健身期間想維持好體態的人，給予一些常見問題的解答，使用者能透過聊天機器人的解說，更明白在健身道路上的常見狀況以及優缺點、注意事項。</p>
        <p class="lead">其他補充：除了日常早餐及正餐外，生活上有其他各式多元的飲食選擇，而我們常會疏忽一些問題，因此由聊天機器人給予補充解說，方便使用者在面對不同情況，隨時能查看基本原則以及該避免的事項。</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{{url_for('static', filename='images/recommand.jpg')}}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">累了嗎 ｜ <span class="text-muted">來聊天吧</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img src="{{url_for('static', filename='images/chat.jpg')}}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" >

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" style="text-align: center;">掃描 QRcode ｜ <span class="text-muted">立即體驗</span></h2>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{{url_for('static', filename='images/qrcode.png')}}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" >

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#"><button type="button" class="btn btn-outline-primary">Back to top</button></a></p>

    <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="/">Terms</a></p>
    

  </footer>
</main>

{%include 'footer.html'%}